.aj-space-left {
	padding-left: $space;
}

.aj-more-space-left {
	padding-left: $more-space;
}

.aj-space-right {
	padding-right: $space;
}

.aj-more-space-right {
	padding-right: $more-space;
}

.aj-space-sides {
	padding-left: $space;
	padding-right: $space;
}

.aj-more-space-sides {
	padding-left: $more-space;
	padding-right: $more-space;
}

.aj-space-top {
	padding-top: $space;
}

.aj-more-space-top {
	padding-top: $more-space;
}

.aj-no-margin {
	margin: 0;
}

.aj-border-right {
	border-right: 1px solid lightgrey;
}

.bold {
	font-weight: bold;
}

.aj-unselectable {
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#new-task-button {
	margin-top: 13px;
	margin-right: 0;
}

#select-container {
	margin-bottom: 35px;
}